$imagePath: "../images/";

$md: '768px';
$lg: '1024px';
$xlg: '1160px';
$xxlg: '1260px';
$maxWidth: 1400px;
$short: (min-height 568px);

// add specific module variables using the colours and fonts variables
// e.g. $headerBackgroundColor: $white; $bodyFontFamily: $openSans;
